<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <button>Load</button>
            <% if (locals.users) { %>
                <ol>
                    <% users.forEach(function(user) { %>
                        <li>
                            <strong>Name: <%= user.namE %><br></strong>
                            <strong>City: <%= user.citY %><br></strong>
                            <strong>Company: <%= user.comP %><br><br></strong>
                        </li>
                    <% }); %>
                </ol>
            <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>